@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";

@layer base {
  :root {
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @apply text-black bg-[#FCF8F8];
  }

  html {
    @apply font-['Poppins',sans-serif];
  }

  a {
    @apply font-medium text-black no-underline;
  }
  a:hover {
    @apply text-[#8c8c8c] underline underline-offset-10;
  }

  body {
    @apply m-0 min-h-screen min-w-[320px] bg-[#FCF8F8] text-black;
  }

  h1 {
    @apply text-[3.2em] leading-[1.1];
  }

  button {
    @apply rounded-[2rem] w-35 border border-gray-400 p-4 text-sm font-semibold bg-[#FCF8F8] text-black cursor-pointer transition-all duration-300 ease-in-out;
  }
  button:hover {
    @apply border-transparent bg-neutral-800 text-white;
  }

  button:focus,
  button:focus-visible {
    @apply outline outline-4 outline-offset-2;
  }
}

@layer utilities {
  .container {
    @apply mx-auto max-w-5xl;
  }
}

@layer components {
  .nav {
    @apply w-full bg-[#FCF8F8];
  }

  .nav__row {
    @apply mx-auto max-w-7xl flex items-center justify-between p-0 py-10;
  }

  .nav__logo {
    @apply lg:text-3xl md:text-xl text-lg tracking-wider cursor-auto;
  }

  .nav__links {
    @apply p-0 m-0 flex xl:gap-10 gap-5 lg:text-2xl md:text-lg text-sm;
  }

  .hero {
    @apply flex lg:flex-row flex-col justify-center gap-10 items-center min-h-130 lg:px-10;
  }

  .hero__img {
    @apply lg:w-100 lg:h-100 w-70 h-70 rounded-full object-cover;
  }
  .hero__info {
    @apply flex flex-col justify-center items-center gap-5;
  }
  .hero__text {
    @apply flex flex-col lg:gap-5 gap-3 justify-center items-center;
  }
  .hero__text1 {
    @apply lg:text-lg text-sm text-[#8c8c8c] font-semibold;
  }
  .hero__text2 {
    @apply lg:text-4xl text-2xl font-bold tracking-wider;
  }
  .hero__text3 {
    @apply lg:text-3xl text-xl text-[#8c8c8c] font-semibold tracking-wider;
  }
  .hero__buttons {
    @apply flex gap-3;
  }
  .hero__icons {
    @apply flex gap-3;
  }
  .icon {
    @apply w-8;
  }
  .icon:hover {
    @apply cursor-pointer;
  }

  .about {
    @apply min-h-160 flex flex-col gap-5 mt-20 lg:px-0 px-10;
  }
  .about__header {
    @apply flex flex-col items-center lg:mb-10 gap-2;
  }
  .about__text1 {
    @apply lg:text-lg text-sm text-[#5e5e5e] font-light;
  }
  .about__text2 {
    @apply lg:text-5xl text-2xl font-semibold;
  }
  .about__info__container{
    @apply flex lg:flex-row flex-col lg:gap-15 gap-5 items-center;
  }
  .about__photo {
    @apply lg:w-100 lg:h-100 w-70 h-70 object-cover rounded-4xl;
  }
  .about__cards{
    @apply flex justify-center items-center gap-5
  }
  .about__card{
    @apply lg:w-80 w-55 flex flex-col items-center gap-1 border border-gray-500 p-5 rounded-4xl
  }
  .card__icon{
    @apply lg:w-10 w-7 mb-3
  }
  .card__title{
    @apply text-lg font-semibold
  }
  .card__subtitle{
    @apply lg:text-sm text-xs text-[#5e5e5e]
  }
  .about__text{
    @apply mt-10 text-[#5e5e5e] text-sm
  }
}
