@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";

@layer base {
  :root {
    line-height: 1.5;
    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @apply text-black bg-[#FCF8F8];
  }

  html {
    @apply font-['Poppins',sans-serif];
  }

  a {
    @apply font-medium text-black no-underline;
  }
  a:hover {
    @apply text-[#8c8c8c] underline underline-offset-10;
  }

  body {
    @apply m-0 min-h-screen min-w-[320px] bg-[#FCF8F8] text-black;
  }

  h1 {
    @apply text-[3.2em] leading-[1.1];
  }

  button {
    @apply rounded-[2rem] w-35 border border-gray-400 p-4 text-sm font-semibold bg-[#FCF8F8] text-black cursor-pointer transition-all duration-300 ease-in-out;
  }
  button:hover {
    @apply border-transparent bg-neutral-800 text-white;
  }

  button:focus,
  button:focus-visible {
    @apply outline outline-4 outline-offset-2;
  }
}

@layer utilities {
  .container {
    @apply mx-auto max-w-5xl;
  }
}

@layer components {
  .nav {
    @apply w-full bg-[#FCF8F8];
  }

  .nav__row {
    @apply mx-auto max-w-7xl flex items-center justify-between p-0 py-10;
  }

  .nav__logo {
    @apply lg:text-3xl md:text-xl text-lg tracking-wider cursor-auto;
  }

  .nav__links {
    @apply p-0 m-0 flex xl:gap-10 gap-5 lg:text-2xl md:text-lg text-sm;
  }

  .nav__links a {
    @apply font-light;
  }

  .hero {
    @apply flex lg:flex-row flex-col justify-center gap-10 items-center min-h-130 lg:px-10;
  }

  .hero__img {
    @apply lg:w-100 lg:h-100 w-70 h-70 rounded-full object-cover;
  }
  .hero__info {
    @apply flex flex-col justify-center items-center gap-5;
  }
  .hero__text {
    @apply flex flex-col lg:gap-5 gap-3 justify-center items-center;
  }
  .hero__text1 {
    @apply lg:text-lg text-sm text-[#8c8c8c] font-semibold;
  }
  .hero__text2 {
    @apply lg:text-4xl text-2xl font-bold tracking-wider;
  }
  .hero__text3 {
    @apply lg:text-3xl text-xl text-[#8c8c8c] font-semibold tracking-wider;
  }
  .hero__buttons {
    @apply flex gap-3;
  }
  .hero__icons {
    @apply flex gap-3;
  }
  .icon {
    @apply w-8;
  }
  .icon:hover {
    @apply cursor-pointer;
  }

  .about {
    @apply min-h-160 flex flex-col gap-5 mt-20 lg:px-0 px-10;
  }
  .section__header {
    @apply flex flex-col items-center lg:mb-5 gap-2;
  }
  .section_text1 {
    @apply lg:text-lg text-sm text-[#5e5e5e] font-light;
  }
  .section__text2 {
    @apply lg:text-5xl text-2xl font-semibold;
  }
  .about__info__container {
    @apply flex lg:flex-row flex-col lg:gap-15 gap-5 items-center lg:mt-5;
  }
  .about__photo {
    @apply lg:w-100 lg:h-100 w-70 h-70 object-cover rounded-2xl;
  }
  .about__cards {
    @apply flex justify-center items-center gap-5;
  }
  .about__card {
    @apply lg:w-80 w-55 flex flex-col items-center gap-1 border border-gray-500 p-5 rounded-4xl;
  }
  .about__card:hover {
    @apply -translate-y-2 hover:shadow-xl
         transition-all duration-300;
  }
  .card__icon {
    @apply lg:w-10 w-7 mb-3;
  }
  .card__title {
    @apply text-lg font-semibold;
  }
  .card__subtitle {
    @apply lg:text-sm text-xs text-[#5e5e5e];
  }
  .about__text {
    @apply mt-10 text-[#5e5e5e] text-sm;
  }

  .experience {
    @apply min-h-160 flex flex-col gap-5 lg:mt-5 mt-20 lg:px-0 px-10 items-center;
  }
  .exp__cards {
    @apply grid md:grid-cols-2 gap-20 justify-center items-center;
  }
  .exp__card {
    @apply lg:w-120 w-100 flex flex-col items-center gap-1 border border-gray-500 p-8 rounded-4xl min-h-80;
  }
  .exp__card:hover {
    @apply -translate-y-2 hover:shadow-xl
         transition-all duration-300;
  }
  .exp__card__title {
    @apply text-[#5e5e5e] font-semibold lg:text-[1.7rem] text-xl mb-5;
  }
  .exp__skills {
    @apply grid grid-cols-2 gap-y-6 lg:gap-x-35 gap-x-20;
  }
  .exp__skill {
    @apply flex items-start gap-2;
  }
  .exp__icon {
    @apply w-8;
  }
  .exp__skill p {
    @apply font-semibold lg:text-lg text-sm w-50;
  }
  .exp__skill small {
    @apply text-gray-500;
  }

  .projects {
    @apply min-h-160 flex flex-col gap-5 lg:mt-5 mt-20 lg:px-0 px-10 items-center;
  }

  .project_cards {
    @apply flex lg:flex-row flex-col gap-5;
  }
  .project__card {
    @apply w-85 flex flex-col items-center gap-1 border border-gray-800 p-8 rounded-4xl min-h-90;
  }
  .project__card:hover {
    @apply -translate-y-2 hover:shadow-xl
         transition-all duration-300;
  }
  .project__image {
    @apply w-60 h-60 mb-4 object-cover rounded-4xl border border-gray-300;
  }
  .project__title {
    @apply font-bold mb-1;
  }
  .project__subtitle {
    @apply text-sm text-[#5e5e5e] font-light mb-4;
  }
  .project__buttons {
    @apply flex gap-2;
  }

  .contact {
    @apply min-h-120 flex flex-col gap-5 lg:mt-5 mt-20 lg:px-0 px-10 items-center;
  }
  .email__card{
    @apply w-120 flex items-center gap-2 border border-gray-800 p-8 rounded-4xl min-h-20;

  }
}
